/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-08-2016, 12:36:01
    Author     : Stegger
*/

#pane {
    -fx-background-color: #526379;
}
.button {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width:2;
    -fx-border-color: #ffca56;
    -fx-background-color: #7c90a9;
}
.button:hover{
    -fx-background-color: #9cb3d0;
}